@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="ui center aligned text container">
    <h1 class="ui huge header">Manage your account</h1>
    <p class="lead">
      Change your account settings
    </p>
</div>


<div class="ui main text container" style="padding-top:25px;">
  <div class="ui grid">
      <div class="two column row">
          <div class="four wide column">
              <partial name="_ManageNav"/>
              </div>
            <div class="twelve wide column">
                 @RenderBody()
              </div>
      </div>
    
  </div>
  </div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
