@using Microsoft.AspNetCore.Identity
@using Project.Data.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum Core</title>
    <link rel="stylesheet" href="~/css/semantic-forum.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body id="root" class="Site">
    <header>
        <div class="ui tablet computer only padded grid">
            <div class="ui borderless fluid huge inverted teal menu">
                <div class="ui container">
                    <a class="header item" asp-controller="Home" asp-action="Index"><strong>Forum Core</strong></a>
                    <a class="item" asp-controller="Home" asp-action="About">About</a>
                    <a class="item" asp-controller="Forum" asp-action="Index">Forum</a>
                    <div class="right menu">
                        <partial name="_LoginPartial" />
                    </div>
                    </div>
            </div>
        </div>
        <div class="ui mobile only padded grid">
            <div class="ui borderless fluid huge inverted teal menu">
                <a class="header item" href="#root">Forum Core</a>
                <div class="right menu">
                    <div class="item">
                        <button class="ui icon toggle basic inverted button">
                            <i class="content icon"></i>
                        </button>
                    </div>
                </div>
                <div class="ui vertical borderless fluid inverted teal menu">
                    <a class="active item" asp-controller="Home" asp-action="Index">Forum Core</a>
                    <a class="item" href="#root">About</a>
                    <a class="item" asp-controller="Forum" asp-action="Index">Forum</a>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </header>
    <main class="Site-content">
        @RenderBody()
    </main>
    <footer>
        <div class="ui inverted teal vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">About</h4>
                        <div class="ui inverted link list">
                            <a class="item" href="#root">Sitemap</a>
                            <a class="item" href="#root">Contact Us</a>
                            <a class="item" href="#root">Religious Ceremonies</a>
                            <a class="item" href="#root">Gazebo Plans</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Services</h4>
                        <div class="ui inverted link list">
                            <a class="item" href="#root">Banana Pre-Order</a>
                            <a class="item" href="#root">DNA FAQ</a>
                            <a class="item" href="#root">How To Access</a>
                            <a class="item" href="#root">Favorite X-Men</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Footer Header</h4>
                        <p>
                            Extra space for a call to action inside the footer that could
                            help re-engage users.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/js/semantic.js"></script>
    <script>
        $(document).ready(function () {
            $(".ui.toggle.button").click(function () {
                $(".mobile.only.grid .ui.vertical.menu").toggle(100);
            });
        });

        $('.ui.accordion')
            .accordion()
            ;
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>