@using Microsoft.AspNetCore.Identity
@using Project.Data.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum Core</title>
    <link rel="stylesheet" href="~/css/semantic-forum.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body id="root" class="Site">
    <header>
        <div class="ui tablet computer only padded grid">
            <div class="ui borderless fluid huge inverted teal menu">
                <div class="ui container">
                    <a class="header item" asp-controller="Home" asp-action="Index"><strong>Forum Core</strong></a>
                    <a class="item" asp-controller="Home" asp-action="About">About</a>
                    <a class="item" asp-controller="Forum" asp-action="Index">Forum</a>
                    <div class="right menu">
                        <partial name="_LoginPartial" />
                    </div>
                    </div>
            </div>
        </div>
        <div class="ui mobile only padded grid">
            <div class="ui borderless fluid huge inverted teal menu">
                <a class="header item" href="#root">Forum Core</a>
                <div class="right menu">
                    <div class="item">
                        <button class="ui icon toggle basic inverted button">
                            <i class="content icon"></i>
                        </button>
                    </div>
                </div>
                <div class="ui vertical borderless fluid inverted teal menu">
                    <a class="active item" asp-controller="Home" asp-action="Index">Forum Core</a>
                    <a class="item" href="#root">About</a>
                    <a class="item" asp-controller="Forum" asp-action="Index">Forum</a>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </header>
    <main class="Site-content">
        @RenderBody()
    </main>
    <footer>
        <div class="ui inverted teal vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Forum Core</h4>
                        <p>
                            Deploy fast, lightweight and feature-rich forum software in minutes.
                        </p>
                        </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Forum</h4>
                        <div class="ui inverted link list">
                            <a class="item" href="/About">About us</a>
                            <a class="item" href="/Plans/Index">Plans</a>
                            <a class="item" href="/Forum">View Example Forum</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Account</h4>
                        <div class="ui inverted link list">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a class="item" href="#root">Profile</a>
                                <a class="item" href="#root">Account settings</a>
                            }
                            else
                            {
                                <a class="item" href="#root">Register</a>
                                <a class="item" href="#root">Sign in</a>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/js/semantic.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>