@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="ui center aligned text container">
    <h1 class="ui huge header">Forum Core</h1>
    <p class="lead">
        Lightweight, efficient, and feature rich Forum software.
    </p>
    <p class="lead">
        Written in ASP.NET Core 3.0
    </p>

</div>

<div class="ui center aligned text container">
    <div class="ui three column stackable grid">
        <div class="column">
            <div class="ui raised segment">
                <div class="ui placeholder">
                    <div class="image header">
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                    <div class="paragraph">
                        <div class="medium line"></div>
                        <div class="short line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui raised segment">
                <div class="ui placeholder">
                    <div class="image header">
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                    <div class="paragraph">
                        <div class="medium line"></div>
                        <div class="short line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui raised segment">
                <div class="ui placeholder">
                    <div class="image header">
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                    <div class="paragraph">
                        <div class="medium line"></div>
                        <div class="short line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (SignInManager.IsSignedIn(User))
{
    <div class="ui container" style="padding-top:20px;">
        <h2>Latest Forum Activity</h2>

    </div>
}