<div class="ui center aligned text container">
    <h1 class="ui huge header">Forum Core</h1>
    <p class="lead">
        Lightweight, efficient, and feature rich Forum software.
    </p>
    <p class="lead">
        Written in ASP.NET Core 3.0
    </p>
</div>