@{
    ViewData["Title"] = "Admin";
}

<div class="ui container" style="padding-top:20px;">
    <h1>Admin control panel</h1>
    <p>
        From here you can manage all forum functionality.
    </p>
    
    <div class="ui grid">
     @* Row 1 start *@
        <div class="three column row">
          <div class="ui cards">
            <div class="card">
              <div class="content">
                <div class="header"> <i class="book icon"></i>Create Forum</div>
                <div class="description">
                  Forum topics are where users can create and reply to posts.
                </div>
              </div>
              <div class="ui bottom attached green button">
                <i class="add icon"></i>
                <a href="/Forum/Create" style="color:white">Create Forum</a>
              </div>
            </div>
            <div class="card">
              <div class="content">
                <div class="header"><i class="chess king icon"></i>Add Moderator</div>
                <div class="description">
                  Moderators have the ability to edit and delete users posts, but not delete a forum.
                </div>
              </div>
              <div class="ui bottom attached green button">
                <i class="add icon"></i>
                <a href="/Forum/Create" style="color:white">Add Moderator</a>
              </div>
            </div>
            <div class="card">
              <div class="content">
                <div class="header"><i class="arrow circle up icon"></i>Rating system</div>
                <div class="description">
                  From here you can change how many points are awarded to a user for posting or replying to a post. 
                </div>
              </div>
              <div class="ui bottom attached green button">
                <i class="add icon"></i>
                <a href="/Forum/Create" style="color:white">Change Ratings</a>
              </div>
            </div>
          </div>
        </div>
      @* Row 1 end *@
      
      @* Row 2 start *@
      <div class="three column row">
        <div class="ui cards">
                    <div class="card">
                      <div class="content">
                        <div class="header"><i class="globe icon"></i>Recent Post Count</div>
                        <div class="description">
                          Change how many recent posts show on the homepage.
                        </div>
                      </div>
                      <div class="ui bottom attached green button">
                        <i class="add icon"></i>
                        <a href="/Forum/Create" style="color:white">Change Total</a>
                      </div>
                    </div>
                    <div class="card">
                      <div class="content">
                        <div class="header"><i class="clock icon"></i>Forum Activity</div>
                        <div class="description">
                          Change how long it takes for a forum to become inactive after its most recent post.
                        </div>
                      </div>
                      <div class="ui bottom attached green button">
                        <i class="add icon"></i>
                        <a href="/Forum/Create" style="color:white">Change Activity</a>
                      </div>
                    </div>
                    <div class="card">
                      <div class="content">
                        <div class="header"><i class="star icon"></i>Donation Settings</div>
                        <div class="description">
                          Configure your forum to be enable users to donate for certain perks.
                        </div>
                      </div>
                      <div class="ui bottom attached green button">
                        <i class="add icon"></i>
                        <a href="/Forum/Create" style="color:white">Configure Donations</a>
                      </div>
                    </div>
                  </div>
      </div>
       @* Row 2 end *@
      </div>
    
</div>