@{
    ViewData["Title"] = "Admin";
}

<div class="ui container" style="padding-top:20px;">
    <h1>Admin control panel</h1>
    <p>
        From here you can manage all forum functionality.
    </p>
    
    <div class="ui grid">
        <div class="three column row">
            <<div class="ui cards">
               <div class="card">
                 <div class="content">
                   <div class="header">Create Forum</div>
                   <div class="description">
                     Forum topics are where users can create and reply to posts.
                   </div>
                 </div>
                 <div class="ui bottom attached green button">
                   <i class="add icon"></i>
                   <a href="/Forum/Create" style="color:white">Create Forum</a>
                 </div>
               </div>
               <div class="card">
                 <div class="content">
                   <div class="header">Add Moderator</div>
                   <div class="description">
                     Moderators have the ability to edit and delete users posts, but not delete a forum.
                   </div>
                 </div>
                 <div class="ui bottom attached green button">
                   <i class="add icon"></i>
                   <a href="/Forum/Create" style="color:white">Add Moderator</a>
                 </div>
               </div>
               <div class="card">
                 <div class="content">
                   <div class="header">Rating system</div>
                   <div class="description">
                     From here you can change how many points are awarded to a user for posting or replying to a post. 
                   </div>
                 </div>
                 <div class="ui bottom attached green button">
                   <i class="add icon"></i>
                    <a href="/Forum/Create" style="color:white">Change Ratings</a>
                 </div>
               </div>
             </div>
        </div>
    </div>
    
</div>