@{
    ViewData["Title"] = "Admin";
}

<div class="ui container" style="padding-top:20px;">
    <h1>Admin control panel</h1>
    <p>
        From here you can manage all forum functionality.
    </p>
</div>