@model StopGambleProject.Models.Forum.ForumIndexModel
    <div class="ui container" style="padding-top:10px;">
        <h1>Forum List</h1>
        <table class="ui celled table" id="forumIndexTable">
            <tbody>
                @foreach (var forum in Model.ForumList)
                {
                    <tr>
                        <td>
                            <a asp-contoller="Forum" asp-action="Topic" asp-route-id="@forum.Id">@forum.Name</a>
                        </td>
                        <td>
                            @forum.Description
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>




